* {
    max-width: 600px;
}

html {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    width: 100%;
    background-color: rgb(134, 60, 166);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input {
    width: 75%;
    height: 2.2em;
    border-radius: 8px 0 0 8px;
}

button {
    min-width: 25%;
    width: 15%;
    height: 2.5em;
    border-radius: 0px 8px 8px 0px;
}

input , button {
    border: 1px solid black;
}

form {
    width: 80%;
    display: flex;
    justify-content: center;
    padding: 5vh;
    border-radius: 10px;
    box-shadow: rgba(194, 190, 196, 0.5) 0px 7px 29px 0px;
}
